<p id="notice"><%= notice %></p>
<h1>User</h1>

<p>
  <b>Name</b><br>
  <%= @user.name %>
</p>

<p>
  <b>Job title:</b><br>
  <%= @user.job_title %>
</p>

<div class="form-actions">
  <%= link_to 'Back', users_path, class: 'btn' %>
  <%= link_to 'Edit', edit_user_path(@user), class: 'btn' %>
  <%= link_to "Destroy", user_path(@user), method: :delete,
    data: { confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
</div>